<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-dark bg-company-red">
        <div class="navbar transparent navbar-inverse">
            <div class="navbar-inner">
                <img class="navbar-brand" src="Content/Image/f.jpg" id="logo" alt="logo">
                <ul class="nav navbar-nav">
                    <li class="nav-item"><a href="#" class="nav-link"></a></li>
                </ul>
            </div>
        </div>

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Home", "Index", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
            <li class="nav-item">
                @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
            </li>
        </ul>
        <ul class="list-inline">
            @Html.Partial("_PartialLoginView")
        </ul>
    </nav>
    <nav class="navbar navbar-dark bg-company-red" id="nav">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar transparent navbar-inverse">
                <div class="navbar-inner">
                    <img class="navbar-brand" src="Content/Image/f.jpg" id="logo" alt="logo">
                    <ul class="nav navbar-nav">
                        <li class="nav-item"><a href="" class="nav-link"></a></li>
                    </ul>
                </div>
            </div>
            @Html.ActionLink("Friend", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    @Html.ActionLink("About", "About", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", "Home", new { area = "" }, new { @class = "nav-link" })
                </li>
            </ul>
            <ul class="list-inline">
                @Html.Partial("_PartialLoginView")
            </ul>
        </div>
    </nav>


    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; 2015 - @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
